html, body{
    font-family:'Arvo', sans-serif;
    font-size: 1rem;
    background-color: rgb(0, 0, 0);
    color: pink;
}

@media screen and (orientation: portrait) {
    #container{
        display: grid;
        box-sizing: border-box;
        width: 98vw;
        height: Infinite;
        position: relative;
        overflow-x: clip;
        overflow-y: scroll;
    }
    .page.loaded{
        display: block;
        border: .5rem double purple;
        box-sizing: border-box;
        padding: .5rem;
        text-wrap: pretty;
        width: 96vw;
        height: calc(100vh/3.2);
        columns: 11rem auto;
        column-gap: 1rem;
        overflow-y: clip;
        overflow-x: scroll;
    }
    figure.quote{
        display:block;
        align-self: center;
        align-content: left;
        
    }
    body{
        overflow-x: clip;
        overflow-y: scroll;
    }
    img{
        flex: 1;
        height: calc(100vh/3.2 - 2.3rem);
        border: .25rem double rgb(38, 38, 38);
    }
    .page.loaded.board{
        display: block;
        flex: 0;
        width: 96vw;
        height: 96vh;
        columns: 0rem 0;
        box-sizing: border-box;
    }
    section.board{
        display:flex;
        width:fit-content;
        height: fit-content;
        img{
            display: inline-block;
            box-sizing:border-box;
            flex: 1;
            width: auto;
            height: auto;
            max-height: 90vh;

        }
    }
}
@media screen and (orientation: landscape) {
    #container{
        display: inline-flex;
        box-sizing: content-box;
        height: 100vh;
        position: relative;
        overflow-x: scroll;
        overflow-y: clip;
    }
    
    .page.loaded{
        display: inline-block;
        flex: none;
        border: .5rem double purple;
        box-sizing: border-box;
        vertical-align: top;
        padding: .5rem;
        height: 98vh;
        width: calc(100vw/3.2);
        overflow-x: clip;
        overflow-y: scroll;
    }
    body{
        position:relative;
        height:80vh;
        overflow-y: clip;
        overflow-x: scroll;
    }
    img{
        flex: 1;
        width: calc(100vw/3.2 - 2.3rem);
        align-content: center;
        border: .25rem dotted purple;
    }
    .page.loaded.board{
        display: inline-block;
        flex: 0 0 auto;
        width: 96vw;
        height: 98vh;
        box-sizing: border-box;
    }
    section.board{
        display: block;
        img{
            display: flexbox;
            flex: auto;
            width: auto;
            height: auto;
            max-width: 96vw;
            max-height: 98vh;
        }
    }
}



h1, h2, h3{
    color: hotpink;
}

p{
    text-indent: 1.2rem;
    text-align: start;
}

figure.quote{
    display: block;
    height: max-content;
    margin: 0px;
    break-inside: avoid-column;
    font-size: medium;
    text-indent: 0px;
    color: white;
    background-color: rgb(38, 38, 38);
    border-style: outset;
    padding: .8rem;

}

figure.quote figcaption, figure.quote figcaption a{
    text-align: right;
    border-style: none;
    font-size: smaller;
}

figure.quote figcaption{
    color:grey;
}

figure.quote figcaption a.external{
    text-decoration: underline;
}

a {
    text-decoration: none;
    border-radius: .25rem;
    border-width: .1rem;
    break-inside: auto;
}

a:link{
    color:rgb(92, 152, 242);
    border-style:inset;
    
}

a:visited{
    color:rgb(112, 69, 255);
}

a.internal{
    color:hotpink;
    border-style:dashed;
}

a:hover, a:focus, a:active{
    background-color: white;
    color:black;
    
}


