body{
    font-family:'Arvo', sans-serif;
    font-size: 100%;
    background-color: rgb(0, 0, 0);
    color: pink;
}

@media screen and (orientation: portrait) {
    #container{
        display: grid;
        box-sizing: content-box;
        height: 100%;
        width: 100%;
        position: fixed;
        overflow-x: clip;
        overflow-y: scroll;
    }
    .page.loaded{
        display: block;
        border: .5rem double purple;
        box-sizing: border-box;
        padding: .5rem;
        text-wrap: pretty;
        width: 96%;
        columns: 10em 2;
        overflow-y: clip;
        overflow-x: scroll;
    }
}
@media screen and (orientation: landscape) {
    #container{
        display: flex;
        box-sizing: content-box;
        height: 100%;
        position: fixed;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    
    .page.loaded{
        display: inline-block;
        flex: 1;
        border: .5rem double purple;
        box-sizing: border-box;
        vertical-align: top;
        padding: .5rem;
        height: 99%;
        overflow: auto;
    }
}

h1, h2, h3{
    color: hotpink;
}

a:link{
    color:rgb(91, 157, 255);
}

a:visited{
    color:rgb(109, 69, 255);
}

a:hover, a:focus, a:active{
    background-color: white;
    color:black;
}

