body{
    font-family:'Arvo', sans-serif;
    font-size: 1rem;
    background-color: rgb(0, 0, 0);
    color: pink;
}

@media screen and (orientation: portrait) {
    #container{
        display: grid;
        box-sizing: border-box;
        width: 98vw;
        height: Infinite;
        position: relative;
        overflow-x: clip;
        overflow-y: scroll;
    }
    .page.loaded{
        display: block;
        border: .5rem double purple;
        box-sizing: border-box;
        padding: .5rem;
        text-wrap: pretty;
        width: 96vw;
        height: calc(100vh/3.2);
        columns: 11rem auto;
        column-gap: 1rem;
        overflow-y: clip;
        overflow-x: scroll;
    }
    body{
        overflow-x: clip;
        overflow-y: scroll;
    }
}
@media screen and (orientation: landscape) {
    #container{
        display: inline-flex;
        box-sizing: content-box;
        height: 100vh;
        position: relative;
        overflow-x: scroll;
        overflow-y: clip;
    }
    
    .page.loaded{
        display: inline-block;
        flex: 1;
        border: .5rem double purple;
        box-sizing: border-box;
        vertical-align: top;
        padding: .5rem;
        height: 99vh;
        width: calc(100vw/3.2);
        overflow-x: clip;
        overflow-y: scroll;
    }
    body{
        overflow-y: clip;
        overflow-x: scroll;
    }
}

h1, h2, h3{
    color: hotpink;
}

p{
    text-indent: 1.2rem;
    text-align: start;
}

a {
    text-decoration: none;
    border-radius: 3px;
    break-inside: auto;
}

a:link{
    color:rgb(92, 152, 242);
    border-style:inset;
    
}

a:visited{
    color:rgb(112, 69, 255);
}

a.internal{
    color:hotpink;
    border-style:dashed;
}

a:hover, a:focus, a:active{
    background-color: white;
    color:black;
    
}


